name: Deploy to Railway

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Railway
        uses: railwayapp/actions/deploy@v1
        with:
          service: icutech-test-api
          token: ${{ secrets.RAILWAY_TOKEN }}
          rootDirectory: ./IcutechTestApi
          build: .
