name: Deploy to Railway

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Railway
        uses: railwayapp/railway-action@v2
        with:
          token: ${{ secrets.RAILWAY_TOKEN }}
          service: icutech-test-api
          rootDirectory: IcutechTestApi
